<head>
<!doctype html><html lang="de"><meta http-equiv="content-language" content="de"> <meta charset="UTF-8"><html><head><title>PBandJ Login</title> 
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular-cookies.js"></script>
 <link rel="stylesheet" href="mystyle.css"> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<html>
<body ng-app="logg">
<center><br><br><br><br>
<div style=width:50% ng-controller="logger">
<img src=pbandj.jpg>
<form>
<table><tr><td>
</td><td>Login</td></tr><tr><td>
Email:</td><td><input name=user ng-model="logg"></td></tr><tr><td>
Password:</td><td><input type=password name=passw ng-model="passw"></td></tr><tr><td>
<input type=button value="Login" ng-click="login()"  ng-disabled="mydisabled">
</td><td></td></tr>
<tr><td> </td><td> </td></tr>
<tr><td> </td><td> </td></tr>
<tr><td></td><td style=text-align:right;font-size:11px;><a href=newuser.html>New User</a><br><br><a href=resetpw.html>Reset Password</a></td></tr>
<tr><td colspan=2><div ng-model="returner"></div></td></tr>
</table>
</form>
</div>
</center>
<div style=position:fixed;bottom:10px;right:20px>mrbrettjones@gmail.com</div>
</html>
<script>
var myApp=angular.module('logg', ['ngCookies']);
myApp.controller('logger', ['$scope', '$http', '$cookies', function($scope,$http,$cookies) {
$scope.mydisabled=false; 

$scope.login = function() {
$http({ url: '/app.js', method: "GET", params: {o: 'logg',user: $scope.logg, passw: $scope.passw}}).success(function(data) 
 { 
if (data.substring(0,2) == "go") {
var tt=data.split("|");
em1=tt[1];
ha1=tt[2];

$cookies.put("email",em1);
$cookies.put("hash",ha1);
  window.location.href="index.html" }
  
 if (data != "" && data.substring(0,2) !="go") {alert(data)} 
 if (data=="" || data=="none"){alert("Login not found.")} 

  
  
 })}
}]);

</script>
</body>
