body { font-family:verdana;font-size:11px;}
table { font-family:verdana;font-size:11px;width:100%; }
a {text-decoration:none;}
form {font-family:verdana;font-size:11px;font-weight:bold;margin-left:auto;margin-right:auto;width:75%;min-width:300px;max-width:750px; }
hr {
    border: 0;
    
    background: #eeeeee;
}
span {color:gray;}


